{
    "port": 4545,
    "protocol": "http",
    "name": "sample stub",
    "recordRequests": true,
    "defaultResponse": <% include ../responses/defaultResponse.json %>,
    "stubs": [
        <% include ../stubs/mealCategoryStub.json %>,
        <% include ../stubs/mealsAvailableStub.json %>
    ]
}